<app-navbar></app-navbar>&nbsp;
<div class="sidenav">
  <a routerLink="/dashboard">My courses</a>
  <a routerLink="/updateTeacher">Update My Info</a>
  <a routerLink="/addCourse">Add A Course</a>
  <a routerLink="/balance" >My Balance</a>
  <a routerLink="/videoChat">My Students</a>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Add Courses</h3>
    <form>
      <div class="form-group">
        <!-- first name -->
        <label>Title</label>
        <input
          type="text"
          name="title"
          [(ngModel)]="course.title"
          id="title"
          required
          class="form-control"
          placeholder="Enter the title"
        />
      </div>

      <!-- description -->
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          name="description"
          [(ngModel)]="course.description"
          id="description"
          required
          class="form-control"
          placeholder="Enter the description"
        />
      </div>
      <div class="form-group">
        <!-- email -->
        <label for="section">Section</label>
        <input
          type="text"
          name="section"
          [(ngModel)]="course.sections"
          id="section"
          required
          class="form-control"
          placeholder="Choose the section"
        />
      </div>
      <div class="form-group">
        <!-- email -->
        <label for="section">Image</label>
        <input
          type="text"
          name="imgUrl"
          [(ngModel)]="course.imgUrl"
          id="imgUrl"
          required
          class="form-control"
          placeholder="Enter an image (url)"
        />
      </div>

      <div class="form-group">
        <!-- adress -->
        <label for="Price">Price</label>
        <input
          type="number"
          name="price"
          required
          [(ngModel)]="course.price"
          id="price"
          class="form-control"
          placeholder="Enter your Price"
        />
      </div>

      <ngx-dropzone (change)="selectedFile($event)">
        <ngx-dropzone-label>Upload the video(MP4)</ngx-dropzone-label>
        <!-- <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview> -->
        <ngx-dropzone-video-preview
          ngProjectAs="ngx-dropzone-preview"
          *ngFor="let f of files"
          [file]="f"
        >
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-video-preview>
      </ngx-dropzone>
      <p></p>
      <button type="button" class="btn btn-primary  active" (click)="onSubmit()">
        Add <i class="far fa-plus-square"></i>
      </button>
    </form>
  </div>
</div>
