
<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Add Courses</h3>
    <form >
      <div class="form-group">
        <!-- first name -->
        <label >Title</label>
        <input
          type="text"
          name="title"
          
          required
          class="form-control"
          placeholder="Title"
        />
      </div>

      <!-- description -->
      <div class="form-group">
        <label for="description">description</label>
        <input
          type="text"
          name="description"
          
          required
          
          class="form-control"
          placeholder="description"
        />
      </div>
      <div class="form-group">
        <!-- email -->
        <label for="section">Section</label>
        <input
          type="section"
          name="section"
         
          required
          
          class="form-control"
         
          placeholder="section"
        />
      </div>
      <div class="form-group">
        <!-- adress -->
        <label for="Duration">Duration</label>
        <input
          type="number"
          name="Duration"
          
          required
          
          class="form-control"
          placeholder="Duration"
        />
      </div>
      

      <div class="form-group">
        <!-- adress -->
        <label for="Price">Price</label>
        <input
          type="number"
          name="Price"
          
          required
          
          class="form-control"
          placeholder="Price"
        />
      </div>

      <input
        name="video"
        type="file"
        name="videoname"
        
        accept=".mp4"
        required
      />
      <!-- <div class="progress">
        <div
          class="progress-bar progress-bar-striped-bg-success"
          role="progressbar"
          [style.width]="(uploadProgress | async) + '%'"
          [attr.aria-valuenow]="(uploadProgress | async) + '%'"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div> -->
      <!-- <a [href]="downloadURL | async" name="download">{{
        downloadURL | async
      }}</a> -->
      <p></p>
      <button type="submit"  mdbBtn color="black" (click)="share()">
        Add <i class="fas fa-sign-in-alt"></i>
      </button>
    </form>
    
  </div>
</div>