.text-center.border.border-light.p-5{

    width: 900px;
}

.btn.btn-primary.btn-lg.active{
    height: 45px;
    width: 250px;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    margin: 4px 2px;
    
}

.text-center.border.border-light.p-5{
    margin-left: 150px;
}