
<app-navbar></app-navbar>&nbsp;
<div class="sidenav">
  <a routerLink="/dashboard">My courses</a>
  <a routerLink="/updateTeacher">Update My Info</a>
  <a routerLink="/addCourse">Add A Course</a>
  <a routerLink="/balance" >My Balance</a>
  <a routerLink="/videoChat">My Students</a>
</div>
<div class= 'container-fluid' >
<form
  class="text-center border border-light p-5" style="margin-right: 15%; margin-left: 15%;"
  #f="ngForm"
  (ngSubmit)="onSubmit(f)"
>
  <p class="h4 mb-4">Update your information</p>

  <div class="form-row mb-4">
    <div class="col">
      <!-- First name -->
      <label>First Name  </label>
      <input
        type="text"
        name="firstName"
        ngModel
        required
        #firstName="ngModel"
        class="form-control"
        placeholder="Enter your first name"
      />
    </div>
    <div class="col">
      <!-- Last name -->
      <label>Last Name  </label>
      <input
        type="text"
        name="lastName"
        ngModel
        required
        #lastName="ngModel"
        class="form-control"
        placeholder="Enter lastname"
      />
    </div>
  </div>

  <!-- E-mail -->
  <label>Email  <i class="far fa-envelope"></i></label>
  <input
    type="email"
    name="email"
    ngModel
    required
    #email="ngModel"
    class="form-control"
    placeholder="Enter email"
  />

  <!-- Password -->
  <label>Password  <i class="fas fa-lock"></i
    ></label>
    <input
    type="password"
    name="password"
    ngModel
    required
    #password="ngModel"
    class="form-control"
    placeholder="Enter password"
  />
  <small
    id="defaultRegisterFormPasswordHelpBlock"
    class="form-text text-muted mb-4"
  >
    At least 6 characters
  </small>

  <!-- Phone number -->
  <label>Phone number  <i class="fas fa-phone"></i></label>
  <input
    type="text"
    name="phoneNumber"
    ngModel
    required
    #phoneNumber="ngModel"
    class="form-control"
    placeholder="Enter phonenumber"
  />
  
  <small
    id="defaultRegisterFormPhoneHelpBlock"
    class="form-text text-muted mb-4"
  >
  </small>
<label>Image <i class="far fa-image"></i> </label>
  <!-- Image -->
  <input
    type="text"
    name="imageUrl"
    ngModel
    required
    #imageUrl="ngModel"
    class="form-control"
    placeholder="Enter your image"
  />
  <label>Date Of Birth  <i class="fas fa-birthday-cake"></i>  </label>
  <small class="form-text text-muted mb-4"> </small>
  <!-- Date of birth -->
  
  <div class="md-form md-outline input-with-post-icon datepicker">
    <input
      placeholder="Select date"
      type="date"
      name="dateOfBirth"
      ngModel
      required
      #dateOfBirth="ngModel"
      class="form-control"
    />
    
    <label for="example">Date of birth</label>
  </div>
  <!-- Experience -->
  <label>Experience  <i class="fas fa-user-check"></i>  </label>
  <input
    type="text"
    name="experience"
    ngModel
    required
    #experience="ngModel"
    class="form-control"
    placeholder="Enter your experience"
  />
  
  <small class="form-text text-muted mb-4"> </small>
  <!--update button -->
  <button class="btn btn-primary btn-lg active" type="submit" routerLink="/dashboard">
    Update  <i class="fas fa-edit"></i>
  </button>
  <hr />
  <!-- Terms of service -->
  <p>
    By clicking <em>Update your information</em> you agree to our
    <a   routerLink="/servicesTerms" >terms of service</a>
  </p>
</form>
</div>
<router-outlet></router-outlet>