/* The sidebar menu */
.sidenav {
  height: 140%; /* Full-height: remove this if you want "auto" height */

  width: 160px; /* Set the width of the sidebar */
  position:  absolute; /* Fixed Sidebar (stay in place on scroll) */

  z-index: 2; /* Stay on top */
  top: 1; /* Stay at the top */
  left: 0;
  background-color: #0062cc; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 100px;
  margin-top: -23px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  font-weight:bold ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
  margin-left: 20px;
  font-size: 50px;
  color:#0d47a1;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: black;
}
.btn.btn-primary.btn-lg.active {
  height: 45px;
  width: 250px;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  margin: 4px 2px;
}
.modal.fade {
  background-image: url(../../assets/background/background.jpg);
}
.modal-content {
  margin-top: 180px;
}
.h4.mb-4{
  font-weight: bolder;
  font-size: 50px;
}
p{
  color:#0d47a1;
}
label{
  font-weight: bolder;
}