.card.testimonial-card{
    width: 320px;
    height: 500px;
    margin-top:80px;
    margin-left: 180px;
}
.mouve{
    margin-top:-580px;
    margin-left: 400px;
}
.mouve1{
    margin-top:-580px;
    margin-left: 800px;
}
.mouve2{
    margin-top:-580px;
    margin-left: 1200px;
}
.btn.btn-fb{
    background-color: #0d47a1;
    color:white;
    margin-left: 65px;
}
.btn.btn-primary.active.btn-rounded.mx-0{
    border-radius: 12px;
    text-align: center;
}
.step-content.ml-3.p-0.hoverable{
    height:550px ;
    width:800px ;  
}
.step-content.mr-xl-3.p-0.hoverable{
    height:550px ;
    width:800px ;
}
.Timeline{
    margin-left: 300px;
}
.box1{
    margin-left: 50px;
}
.img-fluid{
    height: 380px;
}