.card.testimonial-card{
    width: 320px;
    height: 500px;
    margin-top:80px;
    margin-left: 140px;
}
.mouve{
    margin-top:-580px;
    margin-left: 400px;
}
.mouve1{
    margin-top:-580px;
    margin-left: 800px;
}
.mouve2{
    margin-top:-580px;
    margin-left: 1200px;
}
/////////////////////////////////////
.btn.btn-fb{
    background-color: #0d47a1;
    color:white;
    margin-left: 65px;
}
.btn.btn-primary.active.btn-rounded.mx-0{
    border-radius: 12px;
    text-align: center;
}
.step-content.ml-3.p-0.hoverable{
    height:500px ;
    width:750px ;  
}
.step-content.mr-xl-3.p-0.hoverable{
    height:550px ;
    width:800px ;
}
.img-fluid{
    height: 350px;
}
.titre{
    margin-left: 50px;
}

///////////////////////
.carousel-item{
    box-sizing: border-box;
    width: 1790px;
    height: 650px;
    border-radius: 8px;
    margin-left:55px;
}
.a{
    color:black;
    margin-top:-350px;
    margin-left: 635px;
    font-weight: 500;
    font-size: 50px;
}
.b{
    color:black;
    margin-left: 800px;
    font-size: 35px; 
}
.d{
    color: black;
    margin-top:-200px;
    font-weight: 500;
    font-size: 70px;
}
.e{
    color: black;
    font-size: 40px;
    margin-left: 300px;
}

.f {
    margin-top: -380px;
    font-size: 30px;
    margin-left: -800px;
    font-weight: 500;
}
.g{
    font-size: 20px;
}

.h{
    margin-top:-650px;
    margin-left: 950px;
    font-weight: 700;
    font-size: 50px;
}

.i{
    margin-left: 1120px;
    font-size: 40px;
}
.btn.btn-primary.btn-lg.active{
    height: 45px;
    width: 110px;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    margin: 4px 2px;
    margin-left: 900px;
    margin-top:40px;
}
///////////////////////