<app-navbar></app-navbar>&nbsp;

<div class="body">
  <div class="container">
    <div>
      <h1>{{ course.title }}</h1>
    </div>

    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        [src]="Url"
        allowfullscreen
      ></iframe>
    </div>

    <p>{{ course.numberOfViews }} people watched this video</p>
    <my-app
      [selectedValue]="selectedValue"
      (change)="countChange($event)"
    ></my-app>
    <div class="md-form">
      <textarea
        class="md-textarea form-control"
        rows="3"
        id="text"
        type="text"
        length="120"
        name="text"
        [(ngModel)]="comment.text"
        mdbCharCounter
        mdbInput
      ></textarea>
      <label for="input_text">Add your Comment</label>
      <br/>
      
      <button  class='btn btn-primary btn-lg active' (click)="addComment()">comment</button>
      <br/>
      <br/>
    <div class="d-flex flex-column">
      <div   *ngFor="let comment of comments">
        <div class="p-2">
          <h4> <i class="fas fa-user"></i> &nbsp;&nbsp;{{ comment.author }}:</h4>
          <h5>{{ comment.text }}</h5>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
