<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#">
    <img
      src="../../assets/image/logo-eduZone.png"
      width="110"
      height="110"
      alt=""
      loading="lazy"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a
          class="btn btn-primary btn-lg active"
          role="button"
          aria-pressed="true"
          routerLink="/home"
          >Home</a
        >
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <li class="nav-item dropdown">
        <a
          class="btn btn-primary btn-lg active dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Courses</a
        >
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Psychology</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Graphic Design</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Computer Science</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"> Web Developpement</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"></a>
        </div>
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <i class="fas fa-search" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button
        class="btn btn-primary active"
        data-toggle="button"
        aria-pressed="false"
        type="submit"
      >
        Search
      </button>
    </form>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <!-- <li class="nav-item">
        <a  class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="#" >SignIn</a>
      </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
      <div class="dropdown">
        <!--Trigger-->
        <button
          *ngIf="!loggedIn"
          class="btn btn-primary btn-lg active dropdown-toggle"
          type="button"
          id="dropdownMenu1"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Log In
        </button>

        <!--Menu-->
        <div class="dropdown-menu dropdown-primary">
          <a
            class="dropdown-item"
            aria-pressed="true"
            data-toggle="modal"
            data-target="#modalLoginForm"
            routerLink="/login"
            ><i class="fas fa-user-graduate"></i> Student</a
          >
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            aria-pressed="true"
            data-toggle="modal"
            data-target="#modalLoginForm"
            routerLink="/teacherLogin"
            ><i class="fas fa-chalkboard-teacher"></i> Teacher</a
          >
        </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="dropdown">
        <!--Trigger-->
        <button
          *ngIf="!loggedIn"
          class="btn btn-primary btn-lg active dropdown-toggle"
          type="button"
          id="dropdownMenu1"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Sign Up
        </button>

        <!--Menu-->
        <div class="dropdown-menu dropdown-primary">
          <a
            class="dropdown-item"
            aria-pressed="true"
            data-toggle="modal"
            data-target="#modalRegisterForm"
            routerLink="/register"
          >
            <i class="fas fa-user-graduate"></i> Student</a
          >
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            aria-pressed="true"
            data-toggle="modal"
            data-target="#modalRegisterForm"
            routerLink="/teacherRegister"
            ><i class="fas fa-chalkboard-teacher"></i> Teacher</a
          >
        </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <!-- <li class="nav-item">
        <a   class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="#">SignUp</a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->

      <li *ngIf="teacherloggedIn" class="nav-item avatar dropdown">
        <a
          class="nav-link1 dropdown-toggle"
          id="navbarDropdownMenuLink-55"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
        <div *ngIf="user.imageUrl" >
          <img
            id="img1"
            src="{{ user.imageUrl }} "
            class="rounded-circle z-depth-0"
          />
        </div>
        <div *ngIf= " !user.imageUrl">
          <img
            id="img1"
            src="https://www.w3schools.com/howto/img_avatar.png"
            class="rounded-circle z-depth-0"
          />
          </div>
        </a>
        <div
          class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
          aria-labelledby="navbarDropdownMenuLink-55"
        >
          <a class="dropdown-item">My profil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="clearStorage()"
            ><i class="fas fa-sign-out-alt"></i> logOut</a
          >
        </div>
      </li>
      <li *ngIf="studentloggedIn" class="nav-item avatar dropdown">
        <a
          class="nav-link1 dropdown-toggle"
          id="navbarDropdownMenuLink-55"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
        <div *ngIf= " !student.imageUrl">
          <img
            id="img1"
            src=" https://previews.123rf.com/images/hvostik/hvostik1603/hvostik160300358/54767450-graduate-student-avatar-student-student-icon-flat-design-style-education-graduation-isolated-student.jpg"
            class="rounded-circle z-depth-0"
          />
          </div>
          <div *ngIf= "student.imageUrl">
            <img
              id="img1"
              src="{{student.imageUrl}}"
              class="rounded-circle z-depth-0"
            />
            </div>
        </a>
        <div
          class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
          aria-labelledby="navbarDropdownMenuLink-55"
        >
          <a class="dropdown-item" routerLink="/Profile">My profil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="clearStorage()"
            ><i class="fas fa-sign-out-alt"></i> logOut</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
