.sidenav {
  height: 115%; /* Full-height: remove this if you want "auto" height */

  width: 160px; /* Set the width of the sidebar */
  position:  absolute; /* Fixed Sidebar (stay in place on scroll) */

  z-index: 2; /* Stay on top */
  top: 1; /* Stay at the top */
  left: 0;
  background-color: #0062cc; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 100px;
  margin-top: -23px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  font-weight:bold ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
  margin-left: 20px;
  font-size: 50px;
  color:#0d47a1;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: black;
}



%card-stats{
    hr{
      margin: 5px 15px;
    }
  }
  
  
  .card-stats{
      .card-body{
          padding: 15px 15px 0px;
  
          .numbers{
            text-align: left;
            font-size: 2em;
  
              p{
                  margin-bottom: 0;
              }
              .card-category {
                
                font-size: 16px;
                line-height: 1.4em;
              }
          }
      }
      .card-footer{
          padding: 0px 15px 15px;
          hr{
            margin-top: 10px;
            margin-bottom: 15px;
          }
      }
      .icon-big {
          font-size: 3em;
          min-height: 64px;
  
          i{
              line-height: 59px;
          }
      }
  
  
  }
  .btn.btn-primary.btn-lg.active{
    height: 45px;
    width: 110px;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    margin: 4px 2px;
    margin-left: 800px;
    margin-top:420px;
}
h3{
  font-size: 40px;
  color:#0d47a1;
  font-weight: bolder;
  margin-left: -400px;
}
.card.card-stats{
  margin-top: 50px;
}