<!-- <p>
  You Balance :{{balance}}
</p> -->



<!-- 
<div class="col-7 col-md-8">
  <div class="numbers">
    <p class="card-category">Your Balance</p>
    <p class="card-title">DT :{{balance}}
      <p>
  </div>
</div> -->


<div class="row">
  
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-bank"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Your Balance</p>
              <p class="card-title"> {{balance}} DT 
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
       
        
      </div>
    </div>
  </div>
 
 
</div>