

<div class="dropdown-divider"></div>
<h1>Top categories</h1>&nbsp;&nbsp;

<div class="card-deck">
  <div class="card">
    <img src="../../assets/image for  middle cards/code-javascript.jpg"  class="card-img-top" >
    <div class="card-body">
      <h3 class="card-title">Development</h3>
      <p class="card-text">Web development is the work involved in developing a Web site for the Internet World Wide Web or an intranet a private network.</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/image for  middle cards/psy.jpg" class="card-img-top" >
    <div class="card-body">
      <h3 class="card-title">psychologie</h3>
      <p class="card-text">It is the science of how the mind works and how it influences behavior, or the influence of character on a particular person’s behavior.</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/image for  middle cards/bws-maths-tutoring.jpg" class="card-img-top" >
    <div class="card-body">
      <h3 class="card-title">Maths</h3>
      <p class="card-text">Mathematics is the study of numbers, shapes and patterns. The word comes from the Greek word "μάθημα" máthema, meaning "science, knowledge, or learning", and is sometimes shortened to maths.</p>
    </div>
    
  </div>
  <div class="card">
    <img src="../../assets/image for  middle cards/graphic design.jpg" class="card-img-top" >
    <div class="card-body">
      <h3 class="card-title">Grafic design</h3>
      <p class="card-text">Graphic design is a craft where professionals create visual content to communicate messages.</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/image for  middle cards/computer science.jpg" class="card-img-top" >
    <div class="card-body">
      <h3 class="card-title">Computer science</h3>
      <p class="card-text">Computer science is the study of computers and computing as well as their theoretical and practical applications. Computer science applies the principles of mathematics, engineering, and logic to a plethora of functions, including algorithm formulation, software and hardware development, and artificial intelligence.</p>
    </div>
  </div>
</div>&nbsp;&nbsp;&nbsp;&nbsp;


<div class="dropdown-divider"></div>
<div class='video'>
<div>
  <iframe width="650" height="335" src="https://www.youtube.com/embed/ZPs3URGs0KQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div Class= 'text'>
  <h2 class='a'>Advantages of eduZone : </h2>&nbsp;&nbsp;
  <p Class='b'>It is a very efficient way of delivering courses online.</p>&nbsp;&nbsp;
  <p Class='b'> Due to its convenience and flexibility, the resources are available from anywhere and at any time. </p>&nbsp;&nbsp;
    <p Class='b'>Everyone, who are part time students or are working full time, can take advantage of eduZone.</p>
</div>
</div>&nbsp;&nbsp;
<div class="dropdown-divider"></div>


<!--Grid row-->
<h2 class= 'z'> Our students's point of view about eduZone:</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<div class="row my-4">

  <!--Grid column-->
  <div class="col-lg-4 col-md-12">
      <img src="../../assets/image profil students/etudiant0.jpg" class="img-fluid z-depth-2 rounded" alt="First sample image">&nbsp;
      <h4>"eduZone Learning can accommodate</h4>
      <h4>everyone’s needs."</h4>
  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-4 col-md-6">
      <img src="../../assets/image profil students/etudiante2.jpg" class="img-fluid z-depth-3 rounded" alt="First sample image">&nbsp;
      <h4>"Courses can be taken from any place and</h4>
      <h4> at the time which students or tutors prefer."</h4>
  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-4 col-md-6">
      <img src="../../assets/image profil students/assurance-etudiant-stage-etranger-830px.jpg" class="img-fluid z-depth-4 rounded" alt="First sample image">&nbsp;
      <h4>"eduZone promotes active and </h4>
      <h4>independent learning."</h4>
  </div>
  <!--Grid column-->

</div>
<div class="dropdown-divider"></div>&nbsp;&nbsp;&nbsp;&nbsp;

<!-- 
////////////////////// -->



