<div class="sidenav">
  <a routerLink="/Profile">My Courses</a>
  <a routerLink="/updateTeacher">Update My Info</a>
  <a routerLink="/addCourse">Add Course</a>
  <a>My Balance</a>
</div>
<div class="main">
<h1> My Courses</h1>
  <div class="row" >
    <div class="col-lg-3" *ngFor="let course of courses">
      <div class="our-team-main" st>

        <div class="team-front">
          <img src="{{course.imgUrl}}" class="img-fluid" />
          <h3>{{course.title}}</h3>
          <p>price: {{ course.price }} DT</p>
        </div>

        <div class="team-back">
          <span>
            {{course.description}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
