.carousel-item{
    box-sizing: border-box;
    width: 1440px;
    height: 550px;
    border-radius: 8px;
    margin-left:50px;
}
.a{
    color:black;
    margin-top:-350px;
    margin-left: 635px;
    font-weight: 500;
    font-size: 50px;
}
.b{
    color:black;
    margin-left: 800px;
    font-size: 35px; 
}
.d{
    color: black;
    margin-top:-200px;
    font-weight: 500;
    font-size: 70px;
}
.e{
    color: black;
    font-size: 40px;
    margin-left: 300px;
}

.f {
    margin-top: -380px;
    font-size: 30px;
    margin-left: -800px;
    font-weight: 500;
}
.g{
    font-size: 20px;
}

.h{
    margin-top:-650px;
    margin-left: 950px;
    font-weight: 700;
    font-size: 50px;
}

.i{
    margin-left: 1120px;
    font-size: 40px;
}
.btn.btn-primary.btn-lg.active{
    height: 45px;
    width: 110px;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    margin: 4px 2px;
    margin-left: 900px;
    margin-top:40px;
}

.img-fluid.z-depth-1{
    height: 180px;
    width: 360px;
    margin-left: 60px;
}
h2{
    margin-left: 40px;
}
.col-lg-4.col-md-6.mb-4{
    margin-left: -10px;
}
.x{
    margin-left: 40px;
}