/* ul{
    margin-top: 500px;
} */

.form-control.form-control-lg{
    width: 250px;
    margin-left: 90px;
    margin-top:-40px;
}
.fas.fa-search{
margin-left: 70px;
}

.form-group{
    margin-top: 65px;
    margin-left: 500px;
}
ul{
    width: 300px;
    margin-left: 580px;
}