.card{
    width: 600px;
    height: 700px;
}
.btn.btn-primary.btn-lg.active{
    height: 45px;
    width: 90px;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    margin: 4px 2px;
    margin-left: 200px;
    // margin-top:40px;
}
