<app-navbar></app-navbar>&nbsp;
<br/>
<br/><br/>
<!-- Card -->

<div class= 'container-fluid' >
<div class="card" style="margin-right: 35%; margin-left: 35%;">

<div class="card">
  <!-- Card image -->
  <img class="card-img-top" src="{{ course.imgUrl }}" alt="Card image cap" />

  <!-- Card content -->
  <div class="card-body">
    <!-- Title -->
    <h4 class="card-title">
      <a>{{ course.title }}</a>
    </h4>
    <!-- Text -->
    <p class="card-text">{{ course.description }}</p>
    <!-- Button -->

    <a class="btn btn-primary" routerLink="/home">
      Back <i class="fas fa-shopping-cart"></i
    ></a>
  </div>
</div>

</div>
<br/>
<br/>
<br/>
<!-- Card -->
<app-footer></app-footer>

<router-outlet></router-outlet>

