
<app-navbar></app-navbar>&nbsp;
<div class="container">
  <h2 class="title-course">Graphic Design:</h2>
  <div class="row">
    <div class="col-lg-4" *ngFor="let course of backcourses" style="margin-top: 50px">
      <div class="our-team-main">
        <div class="team-front">
          <img src="{{ course.imgUrl }}" class="img-fluid" />
          <h3>{{ course.title }}</h3>
        </div>

        <div class="team-back">
          <span>
            {{ course.description }}
          </span>
        </div>
      </div>
      <p class="price">price: {{ course.price }} DT</p>
      <div class="row">
        <div class="col-sm-12">
          <ul
            class="list-inline rating-list"
            *ngFor="let star of stars"
            style="display: inline-block"
          >
            <li [ngClass]="{ selected: star <= course.rating }">
              <i class="fa fa-star"></i>
            </li>
          </ul>
        </div>
        <!-- comments -->
        <!-- <a id="but1" type="button" mdbBtn color="light-green" class="btn-floating indigo"
        mdbPopover="And here some amazing content. It's very engaging. Right?"
        placement="right"
        mdbPopoverHeader="Popover on right" mdbWavesEffect>
      <i class="fas fa-comments" aria-hidden="true"></i>
      </a> -->
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

